
<form method="get" asp-controller="Cars" asp-action="Index">

<input type="text" name="brand" placeholder="Brand"/>
<input type="number" name="maxPrice" placeholder="Max price"/>

<button type="submit">Search</button>

</form>
