@model CarRental.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Zmiana has³a</h2>

<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Stare has³o (opcjonalne)</label>
        <input asp-for="OldPassword" class="form-control" type="password" />
    </div>

    <div class="mb-3">
        <label>Nowe has³o</label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Potwierd nowe has³o</label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Zmień has³o
    </button>
</form>

<div asp-validation-summary="All" class="text-danger mt-3"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}